<form action="/admin/login" method="post">
    <label for="loginUsername">Brugernavn</label>
    <input type="text" name="username" id="loginUsername">
    <label for="loginPassphrase">Adgangskode</label>
    <input type="password" name="password" id="loginPassphrase">
    <button type="submit">Login</button>
    <p>
        <%= (typeof errorLogin != 'undefined') ? errorLogin : '' %>
    </p>
</form>