<nav role="navigation">
    <ul role="menubar">
        <% menuLinks.forEach(menu => { %>
        <li role="menuitem">
            <a href="<%= menu.link%>">
                <%= menu.name%>
            </a>
        </li>
        <% }); %>
        <% if(!session){%>
        <li role="menuitem">
            <a href="/sign_up">
                Sign up
            </a>
        </li>
        <%} %>
    </ul>
</nav>