<nav role="navigation">
    <ul role="menubar">
        <li role="menuitem">
            <a href="/">Frontpage</a>
        </li>
        <li role="menuitem">
            <a href="/blog">Blog</a>
        </li>
        <li role="menuitem">
            <a href="/profile">Profile</a>
        </li>
        <li role="menuitem">
            <a href="/weapons">Weapons</a>
        </li>
        <li role="menuitem">
            <a href="/shields">Shields</a>
        </li>
        <li role="menuitem">
            <a href="/spell_tools">Spell Tools</a>
        </li>
        <li role="menuitem">
            <a href="/armor">Armor</a>
        </li>
        <li role="menuitem">
            <a href="/rings">Rings</a>
        </li>
        <li role="menuitem">
            <a href="/spells">Spells</a>
        </li>
    </ul>
</nav>