<nav>
    <ul>
        <li>
            <a href="/">Forside</a>
        </li>
        <li>
            <div>
                <!-- Links her -->
                <div>
                    <!-- Links her -->
                </div>
            </div>
        </li>
        <li>
            <!-- Links her -->
        </li>
        <li>
            <!-- Links her -->
        </li>
        <li>
            <!-- Links her -->
        </li>
    </ul>
</nav>