<% include partials/head.ejs %>
<% include partials/header.ejs %>
<aside>
    <% include partials/menu.ejs %>
</aside>
<main>
    <h2>Create a new:</h2>
    <ul>
        <li><a href="/new/blog">Blog Entry</a></li>
        <li><a href="/new/weapon">Weapon</a></li>
        <li><a href="/new/shield">Shield</a></li>
        <li><a href="/new/spell_tool">Spell Tool</a></li>
        <li><a href="/new/armor">Piece of Armor</a></li>
        <li><a href="/new/ring">Ring</a></li>
        <li><a href="/new/spell">Spell</a></li>
    </ul>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>