<% include partials/head.ejs %>
<% include partials/header.ejs %>
<aside>
    <% include partials/menu.ejs %>
</aside>
<main>
    <form action="/login" method="POST">
        <label for="loginUsername">Username</label>
        <input type="text" name="username" id="loginUsername">
        <label for="loginPassphrase">Password</label>
        <input type="password" name="password" id="loginPassphrase">
        <div>
            <a href="/sign_up">Sign Up</a>
            <button type="submit">Login</button>
        </div>
        <p>
            <%= (typeof errorLogin != 'undefined') ? errorLogin : '' %>
        </p>
    </form>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>