<% include partials/head.ejs %>
<% include partials/header.ejs %>
<aside>
	<% include partials/menu.ejs %>
</aside>
<main>
	<section>
		<form action="/new/blog" method="POST">
			<label for="title">Page title</label>
			<input type="text" id="title" name="title">

			<label for="content">Page text content</label>
			<input type="text" id="content" name="content">

			<button type="submit">Create</button>
		</form>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>